@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #58befe;
}

p {
  font-size: 0.9rem;
}


nav a {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

#jumlah_kasus {
  background-color: #58befe;
}

#jumlah_kasus_title {
  padding: 0 1.25rem 0 1.25rem;
  color: rgb(255, 255, 255);
}

.detail_status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#terkonfirmasi,
#positif,
#sembuh,
#meninggal {
  background-color: #3792cb;
  border-radius: 10px;
  width: 280px;
  height: 9rem;
  margin: 1rem 1rem 1rem 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.container-grid {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4";
}

.item1 {
  grid-area: item1;
  border-radius: 20px;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

#kerr {
  background-color: #3792cb;
  color: white;
  padding: 5px;
}

#kerr h5 {
  margin: 5px;
}

p {
  padding: 0;
  margin: 5px;
  font-size: 1rem;
}

span {
  font-size: 10px;
}

/* .list-options {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
} */

li {
  list-style: none;
}

li a {
  color: black;
}

li a:visited {
  color: #3792cb;
  text-decoration: none;
}

li a:hover {
  color: #3792cb;
  text-decoration: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #3792cb !important;
}

table {
  text-align: center;
}

#table_caption {
  text-align: center;
  background-color: #3792cb;
  color: white;
}


#caption_title_rs {
  font-weight: 600;
}

#caption_rs {
  text-align: justify;
  font-size: 0.9rem;
}

#rsupkandou,
#rsudtondano {
  background-color: #3792cb;
  color: white;
}

#rsupkandou a {
  font-size: 0.25rem;
  color: rgb(255, 255, 255);
}

#rsupkandou a:visited {
  color: #ffffff;
  text-decoration: none;
}

#rsupkandou a:hover {
  color: #ffffff;
  text-decoration: none;
}

#rsudtondano a {
  font-size: 0.25rem;
  color: rgb(255, 255, 255);
}

#rsudtondano a:visited {
  color: #ffffff;
  text-decoration: none;
}

#rsudtondano a:hover {
  color: #ffffff;
  text-decoration: none;
}

#content-one p {
  text-align: justify;
}

#content-one #title {
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
}

footer {
  text-align: center;
}


@media only screen and (min-width: 800px) {
  .detail_status {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .container-grid {
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas:
      "item1 item2"
      "item3 item4";
  }

  #rumah_sakit {
    display: flex;
    flex-direction: row;
  }

  #himbauan {
    display: flex;
    flex-direction: row;
  }

  #content-one p {
    text-align: left;
  }
}

@media only screen and (max-width: 800px) {

  #terkonfirmasi,
  #positif,
  #sembuh,
  #meninggal {
    background-color: #eeeeee;
    border-radius: 10px;
    width: 150px;
    height: 9rem;
    margin: 1rem 1rem 1rem 1rem;
    color: rgb(15, 28, 99);
    text-align: center;
  }
}